[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
configparser = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
